@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
   
}

h1 {
    font-weight: 700;
    font-size: 4em;
    margin: 0;
    padding-bottom: 2rem;
    background-color: red;



}

p {
    font-weight: 500;
    font-style: italic;
    font-size: 1.25em;
}

/*
p + p { font-weight: 700; font-style:normal;   }*/

#paragraph {
    font-weight: 700;
    font-style: normal;
}


@media (max-width:768px) {

    body {
        font-size: 50%;
    }


}